.h100 {
  min-height: 100vh;
}

.h100 h1 {
  text-align: center;
}

.contatti {
  margin-bottom: 40px;
}

.contatti ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.contatti li {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #888;
}

.socialContainer {
  transform: translateY(11%);
}

.social, .contatti, .form {
  /* margin-top: 30px; */
}

.form input {
  margin: 15px;
  background: #EEEEEC;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #ccc;
  line-height: 26px;
  font-weight: 400;
  padding-left: 5px;
}

.submit {
  cursor: pointer;
  margin-top: 50px;
  padding: 5px 15px;
  color: #888;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  border: 2px solid #ccc;
  border-radius: 7px;
}

.social {
  text-align: center;
  margin-bottom: 50px;
}

.social a {
  cursor: pointer;
}

.social h1 {
  text-align: center;
  padding-bottom: 0;
}

.socialImage {
  width: 50px;
  margin: 15px;
}

@media screen and (max-width: 800px) {
  .h100 {
    margin-bottom: 150px;
  }
  .h100 h1 {
    padding: 5px;
    text-align: center;
  }
  .contatti li {
    padding: 2px;
  }
  .form input {
    margin: 20px 40px 20px 0;
  }
}
